<div class="md:grid md:grid-cols-2">
  <img src="/banderines.svg" class="banderin md:w-full my-2" alt="" />
  <img
    src="/banderines.svg"
    class="banderin md:w-full hidden md:block my-2"
    alt=""
  />
</div>
<style>
  .banderin {
    view-timeline-name: --banderin-fade;
    view-timeline-axis: block;
    animation-timeline: --banderin-fade;
    animation-name: fade-in;
    animation-range: entry 0% cover 82%;
  }
</style>
