<div class="md:grid md:grid-cols-2">
  <img src="/banderines.svg" class="md:w-full my-2" alt="" />
  <img src="/banderines.svg" class="md:w-full hidden md:block my-2 invertir" alt="" />
</div>
<style>
  .invertir {
    transform: scaleX(-1);
  }
</style>
