---
import { eventos } from "@data";
import { Icon } from "astro-icon/components";
import Banderines from "@/components/Banderines.astro";
---

<section class="seccion bg-blueown py-7" id="eventos">
  <Banderines />
  <div class="max-w-screen-xl mx-auto px-1 xl:px-2">
    <h2>Entrevistas</h2>
    <div class="eventos grid sm:grid-cols-2 lg:grid-cols-3 gap-5 mt-5">
      {
        eventos.map((evento) => (
          <article class="card rounded-lg overflow-hidden border border-gray-500 group bg-slate-50">
            <header class="overflow-hidden">
              <lite-youtube
                videoid={evento.video}
              ></lite-youtube>
            </header>
            <footer class="flex flex-col">
              <div class="bg-slate-200/75 py-1">
                <h3 class="text-2xl text-center">{evento.nombre}</h3>
                {evento.entrevistado && (
                  <p class="text-lg font-light text-center">
                    {evento.entrevistado}
                  </p>
                )}
              </div>
              <div class="p-2 border-t border-slate-800 border-dashed  h-full">
                <div class="text-base font-light">
                  <p>{evento.descripcion}</p>
                </div>
              </div>
            </footer>
          </article>
        ))
      }
    </div>
  </div>
</section>
<style>
  p {
    font-size: var(--font-cuerpo);
    font-family: var(--font-cuerpo);
  }
  img {
    width: 100%;
    height: auto;
  }
  .eventos {
    .card {
      view-timeline-name: --card-fade;
      view-timeline-axis: block;
      animation-timeline: --card-fade;
      animation-name: fade-in;
      animation-range: entry 0% cover 52%;
      h3 {
        font-family: var(--font-titulos);
      }
    }
  }
</style>
<script>
  import "@justinribeiro/lite-youtube";
</script>
