<section id="programa" class="seccion programa bg-pink w-full py-5">
  <div class="max-w-screen-md mx-auto">
    <h2 class="!text-slate-950">Eventos</h2>
    <ul>
      <li><b>10:00 |</b> <span>Saludo y bienvenida a los asistentes.</span></li>
      <li>
        <b>10:05 |</b>
        <span
          >Presentación por la Mtra. Claudia Durán Olmos, jefa del departamento
          Audiovisual de la DGCCH.</span>
      </li>
      <li>
        <b>10:15 |</b>
        <span
          >Palabras del Mtro. Taurino Marroquín Cristóbal, secretario de
          Servicios de Apoyo al Aprendizaje de la DGCCH.</span>
      </li>
      <li>
        <b>10:20 |</b>
        <span
          >Entrega de reconocimientos a estudiantes y profesores que han
          participado en la elaboración de materiales para el Portal Académico.</span>
      </li>
      <li>
        <b>10:35 |</b>
        <span
          >Presentación de video conmemorativo en torno a los 15 años del Portal
          Académico.</span>
      </li>
      <li>
        <b>10:40 |</b>
        <span
          >Mensaje por parte del Dr. Benjamín Barajas Sánchez, director General
          del Colegio de Ciencias y Humanidades.</span>
      </li>
      <li><b>10:50 |</b> <span>Cierre y agradecimiento.</span></li>
    </ul>
  </div>
</section>
<style>
  .programa {
    ul {
      list-style-type: none;
      padding: 0;
      li {
        padding: 1rem;
        border-bottom: 1px solid var(--css-purple);
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
</style>
