---
import { Icon } from "astro-icon/components";
---

<section class="seccion bg-purpleown w-full" id="suplemento">
  <div class="max-w-screen-xl mx-auto px-2">
    <h2>Gaceta CCH - Suplemento</h2>
    <div class="grid grid-cols-3 gap-4 mt-5 items-center group">
      <div class="bg-white/85 p-4 rounded-xl border border-gray-800 col-span-2">
        <h3 class="text-xl md:text-3xl font-bold mb-2">
          Portal Académico del CCH - 15 aniversario
        </h3>
        <p
          class="text-lg xl:text-xl pt-2 border-t border-slate-800 border-dashed"
        >
          En este documento haremos un recorrido por la historia del Portal y
          nos centraremos en los últimos cinco años, tiempo en el que ha
          demostrado ser un recurso invaluable para enfrentar nuevos desafíos y
          oportunidades en el ámbito educativo.
        </p>
        <p>
          Descargar el documento en <a
            href="Suplemento_Portal_CCH.pdf"
            class="underline hover:text-blueown"
            target="_blank"
          >
            PDF <Icon class="inline" name="bi:file-earmark-pdf-fill" /></a
          >
        </p>
      </div>
      <a class="overflow-hidden shadow-xl" href="Suplemento_Portal_CCH.pdf" target="_blank"
        ><img
          src="suplemento-portada.webp"
          class="ease-in-out transition-all group-hover:md:scale-105 shadow"
          alt="portada pdf"
        /></a
      >
    </div>
  </div>
</section>
